.test {
  background-color: aliceblue;
body{
    color: white;
main {
  background-color: aqua;
}
.row-3 {
  grid-column-start: 3;
}
.word-box {
  display: flex;
}

.letter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0.3rem;
  font-size: x-large;
}

#body,#ground,#legs,#arms,#scaffold,#head{
display: none;
}

.tries-text{
  font-size: 4rem;
  color: black;
}

#tries{
  color:#62a334;
}

.main-title{
  color: black;
  font-size: 3rem;
}