* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(231, 230, 230);
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  padding: 1em;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

/* KEYBOARD FOR INPUT */
.keyboard-box {
  background-color: #8ce99a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  border: 2px solid black;
  border-radius: 15px;
  width: 80%;
}

.letter {
  background-color: white;
  font-size: xx-large;
  border: 2px solid black;
  width: calc(100% / 9 - 10px);
  padding: 5px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.letter:hover {
  background-color: #2980b9;
}
.wrong {
  background-color: #adb5bd;
  opacity: 0.2;
  color: white;
  pointer-events: none;
}

.right {
  background-color: #2b8a3e;
  color: white;
  pointer-events: none;
}
/* BOXES THAT ARE GENERATED  */
.word-box {
  display: flex;
}

.letter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0.3rem;
  font-size: x-large;
}

/* MODAL-BOX */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
.modal-box {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #99e9f2;
  padding: 4rem 4rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  z-index: 1000;
  transition: all 0.5s;
}
.modal-box-header {
  color: #333;
  font-size: 3rem;
  line-height: 1.5;
  padding: 1rem;
  position: relative;
  top: 1px;
  text-align: center;
}

.modal-box-btns {
  display: flex;
  justify-content: center;
}
.modal-box-btn {
  border: none;
  border-radius: 5%;
  padding: 1rem;
  background-color: #1098ad;
}

.modal-box-btn:hover {
  background-color: #15aabf;
}

.message {
  text-align: center;
  font-size: 1em;
  color: black;
  padding: 1em;
}
/* HIDDEN CLASS FOR MODAL */
.hidden {
  visibility: hidden;
  opacity: 0;
}

/* HANGMAN SVG */
.hangman-box {
  position: relative;
  width: 300px;
  height: 55vh; /* Adjust this value as needed */
}
#body,
#ground,
#legs,
#arms,
#scaffold,
#head {
  display: none;
}

/* INCORRECT GUESSES */
.guess-text {
  position: absolute;
  left: 10%;
  top: 20%;
}

/* LANGUAGE */
.lang {
  position: absolute;
  left: 80%;
  top: 20%;
}

.chossen-language {
  opacity: 0.2;
}

.guess-text p {
  font-size: 2em;
  text-align: center;
  padding: 1em;
}
