* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #808d9b;
  color: black;
  width: 100vw;
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.keyboard-box {
  background-color: #6e96c5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 35rem;
  gap: 1em;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 15px;
}

.letter {
  width: 2rem;
  background-color: antiquewhite;
  font-size: xx-large;
  border: 2px solid black;
  border-radius: 10px;
}
.word-box {
  display: flex;
}
.letter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0.3rem;
  font-size: x-large;
}

#body,
#ground,
#legs,
#arms,
#scaffold,
#head {
  display: none;
}

.tries-text {
  font-size: 4rem;
  color: black;
}

#tries {
  color: #62a334;
}

.main-title {
  color: black;
  font-size: 3rem;
}
