* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: grey;
  width: 100vw;
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.keyboard-box {
  background-color: #e1e166;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 1em;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 15px;
}

.letter {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  border: 2px solid black;
  border-radius: 10px;
}
.row-3 {
  grid-column-start: 3;
}
.word-box {
  display: flex;
}

.letter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0.3rem;
  font-size: x-large;
}

#body,#ground,#legs,#arms,#scaffold,#head{
display: none;
}

.tries-text{
  font-size: 4rem;
  color: black;
}

#tries{
  color:#62a334;
}

.main-title{
  color: black;
  font-size: 3rem;
}